In [1]:
import pandas as pd

## Roo Data

In [2]:
roodata=pd.read_csv('../data/processed/roodatageo.csv')
roodata = pd.DataFrame(roodata)
roodata

,Restaurant Restaurant ID,Restaurant Restaurant Name,Address,Post Code,Full Address,Latitude,Longitude,Weekly orders
0,89931,Five Guys - Castellana Azca,"Paseo de la Castellana, 75",28020,"Paseo de la Castellana, 75 28020",40.447608,-3.693326,611
1,183722,Five Guys - Serrano,"Calle Serrano, 45",28001,"Calle Serrano, 45 28001",40.428947,-3.687535,462
2,73119,"Carl's Junior - Gran Vía, 45","Gran Vía, 45",28013,"Gran Vía, 45 28013",40.420930,-3.707325,374
3,69463,Sushi MIX - Galileo,Calle Galileo 36,28015,Calle Galileo 36 28015,40.433292,-3.710200,321
4,49914,Five Guys - Gran Vía,Calle Gran Vía 44,28013,Calle Gran Vía 44 28013,40.420558,-3.705477,335
...,...,...,...,...,...,...,...,...
2889,271506,Sushi Daily - Tetuán,"Calle Araucaria, 19,",28039,"Calle Araucaria, 19, 28039",40.460476,-3.699927,1
2890,271988,Toms Burger (Fuenlabrada),Calle Alcalde Pedro González González 20,28914,Calle Alcalde Pedro González González 20 28914,40.316057,-3.787337,1
2891,272088,Le Pain Quotidien - Gran Vía,Calle Gran Vía 46,28013,Calle Gran Vía 46 28013,40.420593,-3.705929,1
2892,272383,Indalo tapas,"Avenida la Alcarria, Nº2",28806,"Avenida la Alcarria, Nº2 28806",40.492770,-3.363670,1
2893,272399,Le Pain Quotidien - Velázquez,"Calle de Velázquez, 92,",28006,"Calle de Velázquez, 92, 28006",40.432640,-3.683320,1

In [3]:
roodata.nunique()

Restaurant Restaurant ID      2879
Restaurant Restaurant Name    2894
Address                       2675
Post Code                      147
Full Address                  2682
Latitude                      2249
Longitude                     2215
Weekly orders                  126
dtype: int64

## TA DATA

In [4]:
ta_data1=pd.read_csv('../data/raw/ta_data5(1-100).csv')
ta_data1= pd.DataFrame(ta_data1)
ta_data1

,name,priceRange,rating,reviewCount,address,postCode,locality,url
0,Oven Mozzarella Bar,NaN,5.0,199,"Calle Gran Via 55 Oven, Steakburger y Roastery",28013.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
1,Grama Lounge,$$ - $$$,5.0,2198,Calle de la Cruz 19,28012.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
2,Trattoria Pulcinella,$$ - $$$,4.5,1343,Calle Regueros 7,28004.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
3,SteakBurger 55,$$ - $$$,5.0,221,Calle Gran Via 55 Galeria Gran Via 55,28013.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
4,Steakburger Arenal,$$ - $$$,5.0,851,Calle del Arenal 26,28013.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
...,...,...,...,...,...,...,...,...
3687,Hokkaido,$$ - $$$,3.5,76,Avenida Menendez Pelayo 9,28009.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
3688,Wok 4 You,$,4.0,83,Calle Alcala 404,28027.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
3689,Sushi Yakuza,$$ - $$$,4.5,5,Calle Segovia 8,28005.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
3690,Cazorla,$$ - $$$,4.0,70,Calle Rodriguez Marin 80 28002 Madrid,28002.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
3691,Restaurante Hotel Crowne Plaza,$$ - $$$,4.5,23,Calle Lola Flores 1 Located Near the Airport o...,28022.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...

In [5]:
ta_data1.nunique()

name           2951
priceRange        3
rating            4
reviewCount     828
address        2893
postCode         59
locality          1
url            3012
dtype: int64

In [6]:
ta_data2=pd.read_csv('../data/raw/ta_data5(101-200).csv')
ta_data2= pd.DataFrame(ta_data2)
ta_data2

,name,priceRange,rating,reviewCount,address,postCode,locality,url
0,Nebak Jatetxea Madrid,$$$$,5.0,88,Calle Zorrilla 11,28014.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
1,Sushi Yakuza,$$ - $$$,4.5,5,Calle Segovia 8,28005.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
2,Perro Bar,$$ - $$$,4.5,30,Calle Pelayo 19,28004.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
3,Pulperia Taberna Maceira,$$ - $$$,3.5,147,Calle Jesus 7,28014.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
4,La Terraza del Indigo,$$ - $$$,4.0,222,Calle Silva 6 Localizado entre la Gran Vía y l...,28013.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
...,...,...,...,...,...,...,...,...
3690,Monteferro,$$ - $$$,3.5,20,Calle Antonio Lopez 201,28026.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
3691,Valerie Restaurante,$,4.5,9,Calle de Martin de los Heros 36,28008.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
3692,Amicis,$$ - $$$,4.5,817,Plaza del Conde de Miranda 4,28005.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
3693,Magarinos Cafe,$$ - $$$,3.5,9,Calle de Serrano 129,28006.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
3694,Chifa Peruano Chalan del Norte,$$ - $$$,5.0,2,calle puerto de Canfranc 11 Local,28038.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...

In [7]:
ta_data2.nunique()

name           2943
priceRange        3
rating            5
reviewCount     274
address        2905
postCode         72
locality          1
url            3036
dtype: int64

In [8]:
ta_data3=pd.read_csv('../data/raw/ta_data5(201-300).csv')
ta_data3= pd.DataFrame(ta_data3)
ta_data3

,name,priceRange,rating,reviewCount,address,postCode,locality,url
0,El Cruce,NaN,4.5,6,Calle Nuestra Senora de Valverde 2,NaN,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
1,Sal Gorda,$$ - $$$,4.0,198,Calle Beatriz de Bobadilla 9 Acceso por el núm...,28040.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
2,Can Punyetes,$$ - $$$,3.0,168,Calle San Agustin 9,28014.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
3,Mamma Mia Pizzeria Lavapies,NaN,5.0,2,Calle Lavapies 44,28012.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
4,El Gordo de Velazquez,$$ - $$$,3.5,547,Calle Velazquez 80 Calle Velazquez 80 esquina ...,28001.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
...,...,...,...,...,...,...,...,...
3689,Restaurante Dong Ge,NaN,2.5,10,Calle Caballero de Gracia 2,28013.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
3690,Restaurante Solidere,$$ - $$$,4.0,372,Avenida Alfonso XIII 39,28002.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
3691,Market Cafe,$,3.0,141,Carrera de San Jeronimo 3,28014.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
3692,Riazor,$$ - $$$,3.0,198,Calle Toledo 19,28005.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
3693,Ice Dishes & Drinks,NaN,2.5,7,"Madrid-Barajas Airport, Aeropuerto Barajas",28042.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...

In [9]:
ta_data3.nunique()

name           2812
priceRange        3
rating            8
reviewCount     203
address        2893
postCode         85
locality          1
url            3041
dtype: int64

In [10]:
ta_data = pd.concat([ta_data1, ta_data2, ta_data3], axis=0)
ta_data

,name,priceRange,rating,reviewCount,address,postCode,locality,url
0,Oven Mozzarella Bar,NaN,5.0,199,"Calle Gran Via 55 Oven, Steakburger y Roastery",28013.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
1,Grama Lounge,$$ - $$$,5.0,2198,Calle de la Cruz 19,28012.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
2,Trattoria Pulcinella,$$ - $$$,4.5,1343,Calle Regueros 7,28004.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
3,SteakBurger 55,$$ - $$$,5.0,221,Calle Gran Via 55 Galeria Gran Via 55,28013.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
4,Steakburger Arenal,$$ - $$$,5.0,851,Calle del Arenal 26,28013.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
...,...,...,...,...,...,...,...,...
3689,Restaurante Dong Ge,NaN,2.5,10,Calle Caballero de Gracia 2,28013.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
3690,Restaurante Solidere,$$ - $$$,4.0,372,Avenida Alfonso XIII 39,28002.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
3691,Market Cafe,$,3.0,141,Carrera de San Jeronimo 3,28014.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
3692,Riazor,$$ - $$$,3.0,198,Calle Toledo 19,28005.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...
3693,Ice Dishes & Drinks,NaN,2.5,7,"Madrid-Barajas Airport, Aeropuerto Barajas",28042.0,Madrid,https://www.tripadvisor.com/Restaurant_Review-...

In [11]:
ta_data.nunique()

name           8443
priceRange        3
rating            8
reviewCount     860
address        8063
postCode        102
locality          1
url            9001
dtype: int64

In [12]:
ta_data.drop_duplicates(subset='name', inplace=True)
ta_data.nunique()

name           8443
priceRange        3
rating            8
reviewCount     848
address        7600
postCode         97
locality          1
url            8443
dtype: int64

In [13]:
ta_data.to_csv( f'/Users/Nonis/desktop/Leads-OV-estimation/data/processed/ta_data_scrape.csv', index=False)

## MERGE DFs

In [14]:
tadata=pd.read_csv('../data/processed/tadatageo.csv')
tadata= pd.DataFrame(tadata)
tadata

,name,priceRange,rating,reviewCount,address,postCode,locality,Full Address,Latitude,Longitude,url
0,Oven Mozzarella Bar,NaN,5.0,199,"Calle Gran Via 55 Oven, Steakburger y Roastery",28013.0,Madrid,"Calle Gran Via 55 Oven, Steakburger y Roastery...",40.419781,-3.699409,https://www.tripadvisor.com/Restaurant_Review-...
1,Grama Lounge,$$ - $$$,5.0,2198,Calle de la Cruz 19,28012.0,Madrid,Calle de la Cruz 19 28012 Madrid,40.415490,-3.701691,https://www.tripadvisor.com/Restaurant_Review-...
2,Trattoria Pulcinella,$$ - $$$,4.5,1343,Calle Regueros 7,28004.0,Madrid,Calle Regueros 7 28004 Madrid,40.424625,-3.696582,https://www.tripadvisor.com/Restaurant_Review-...
3,SteakBurger 55,$$ - $$$,5.0,221,Calle Gran Via 55 Galeria Gran Via 55,28013.0,Madrid,Calle Gran Via 55 Galeria Gran Via 55 28013 Ma...,40.421550,-3.708629,https://www.tripadvisor.com/Restaurant_Review-...
4,Steakburger Arenal,$$ - $$$,5.0,851,Calle del Arenal 26,28013.0,Madrid,Calle del Arenal 26 28013 Madrid,40.417879,-3.708180,https://www.tripadvisor.com/Restaurant_Review-...
...,...,...,...,...,...,...,...,...,...,...,...
8427,Bicho Bar,NaN,1.0,1,Calle Lopez de Hoyos 13,28006.0,Madrid,Calle Lopez de Hoyos 13 28006 Madrid,40.437185,-3.687005,https://www.tripadvisor.com/Restaurant_Review-...
8428,Restaurante Dong Ge,NaN,2.5,10,Calle Caballero de Gracia 2,28013.0,Madrid,Calle Caballero de Gracia 2 28013 Madrid,40.419561,-3.701419,https://www.tripadvisor.com/Restaurant_Review-...
8429,Market Cafe,$,3.0,141,Carrera de San Jeronimo 3,28014.0,Madrid,Carrera de San Jeronimo 3 28014 Madrid,40.416762,-3.701895,https://www.tripadvisor.com/Restaurant_Review-...
8430,Riazor,$$ - $$$,3.0,198,Calle Toledo 19,28005.0,Madrid,Calle Toledo 19 28005 Madrid,40.414199,-3.707350,https://www.tripadvisor.com/Restaurant_Review-...
8431,Ice Dishes & Drinks,NaN,2.5,7,"Madrid-Barajas Airport, Aeropuerto Barajas",28042.0,Madrid,"Madrid-Barajas Airport, Aeropuerto Barajas 280...",40.498332,-3.567598,https://www.tripadvisor.com/Restaurant_Review-...

In [15]:
train = pd.merge(tadata,  
                roodata,  
                on ='Latitude',  
                how ='left') 
train

,name,priceRange,rating,reviewCount,address,postCode,locality,Full Address_x,Latitude,Longitude_x,url,Restaurant Restaurant ID,Restaurant Restaurant Name,Address,Post Code,Full Address_y,Longitude_y,Weekly orders
0,Oven Mozzarella Bar,NaN,5.0,199,"Calle Gran Via 55 Oven, Steakburger y Roastery",28013.0,Madrid,"Calle Gran Via 55 Oven, Steakburger y Roastery...",40.419781,-3.699409,https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Grama Lounge,$$ - $$$,5.0,2198,Calle de la Cruz 19,28012.0,Madrid,Calle de la Cruz 19 28012 Madrid,40.415490,-3.701691,https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Trattoria Pulcinella,$$ - $$$,4.5,1343,Calle Regueros 7,28004.0,Madrid,Calle Regueros 7 28004 Madrid,40.424625,-3.696582,https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SteakBurger 55,$$ - $$$,5.0,221,Calle Gran Via 55 Galeria Gran Via 55,28013.0,Madrid,Calle Gran Via 55 Galeria Gran Via 55 28013 Ma...,40.421550,-3.708629,https://www.tripadvisor.com/Restaurant_Review-...,255868.0,McDonald's - Gran Vía San Bernardo,"C/ Gran Vía, 55, Madrid,",28013.0,"C/ Gran Vía, 55, Madrid, 28013",-3.708629,11
4,Steakburger Arenal,$$ - $$$,5.0,851,Calle del Arenal 26,28013.0,Madrid,Calle del Arenal 26 28013 Madrid,40.417879,-3.708180,https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9183,Bicho Bar,NaN,1.0,1,Calle Lopez de Hoyos 13,28006.0,Madrid,Calle Lopez de Hoyos 13 28006 Madrid,40.437185,-3.687005,https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9184,Restaurante Dong Ge,NaN,2.5,10,Calle Caballero de Gracia 2,28013.0,Madrid,Calle Caballero de Gracia 2 28013 Madrid,40.419561,-3.701419,https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9185,Market Cafe,$,3.0,141,Carrera de San Jeronimo 3,28014.0,Madrid,Carrera de San Jeronimo 3 28014 Madrid,40.416762,-3.701895,https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9186,Riazor,$$ - $$$,3.0,198,Calle Toledo 19,28005.0,Madrid,Calle Toledo 19 28005 Madrid,40.414199,-3.707350,https://www.tripadvisor.com/Restaurant_Review-...,94951.0,Five Guys - Plaza Mayor,"Calle de Toledo, 19",28005.0,"Calle de Toledo, 19 28005",-3.707350,292
9187,Ice Dishes & Drinks,NaN,2.5,7,"Madrid-Barajas Airport, Aeropuerto Barajas",28042.0,Madrid,"Madrid-Barajas Airport, Aeropuerto Barajas 280...",40.498332,-3.567598,https://www.tripadvisor.com/Restaurant_Review-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
train = train[['name', 'priceRange', 'rating', 'reviewCount', 'postCode', 'Latitude', 'Longitude_x','Weekly orders']]
train['value'] = train['rating']*train['reviewCount']
train = train.drop_duplicates(subset=['name'])
predict = train[train['Weekly orders'].isna()]
predict = predict.drop(columns=['Weekly orders'])
predict = predict.reset_index(drop=True)

/Users/Nonis/miniconda3/envs/ironhack_env/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [17]:
predict.to_csv(f'/Users/Nonis/desktop/Leads-OV-estimation/data/processed/predict.csv', index=False)
predict

,name,priceRange,rating,reviewCount,postCode,Latitude,Longitude_x,value
0,Oven Mozzarella Bar,NaN,5.0,199,28013.0,40.419781,-3.699409,995.0
1,Grama Lounge,$$ - $$$,5.0,2198,28012.0,40.415490,-3.701691,10990.0
2,Trattoria Pulcinella,$$ - $$$,4.5,1343,28004.0,40.424625,-3.696582,6043.5
3,Steakburger Arenal,$$ - $$$,5.0,851,28013.0,40.417879,-3.708180,4255.0
4,Entre Santos Madrid,$$ - $$$,5.0,677,28004.0,40.421329,-3.698703,3385.0
...,...,...,...,...,...,...,...,...
7009,Zocodover,NaN,2.5,5,28009.0,40.420437,-3.675400,12.5
7010,Bicho Bar,NaN,1.0,1,28006.0,40.437185,-3.687005,1.0
7011,Restaurante Dong Ge,NaN,2.5,10,28013.0,40.419561,-3.701419,25.0
7012,Market Cafe,$,3.0,141,28014.0,40.416762,-3.701895,423.0
7013,Ice Dishes & Drinks,NaN,2.5,7,28042.0,40.498332,-3.567598,17.5

In [18]:
train = train.dropna(subset=['Weekly orders'])

In [19]:
train = train.reset_index(drop=True)
train.to_csv(f'/Users/Nonis/desktop/Leads-OV-estimation/data/processed/train.csv', index=False)
train

,name,priceRange,rating,reviewCount,postCode,Latitude,Longitude_x,Weekly orders,value
0,SteakBurger 55,$$ - $$$,5.0,221,28013.0,40.421550,-3.708629,11,1105.0
1,Pastamore,$$ - $$$,5.0,111,28009.0,40.427683,-3.669938,10,555.0
2,Empanadas Malvon Retiro,$$ - $$$,5.0,149,28009.0,40.418765,-3.676403,9,745.0
3,Indian Aroma,$$ - $$$,4.5,726,28014.0,40.415959,-3.699137,23,3267.0
4,Sushi Yakuza,$$ - $$$,3.5,27,28010.0,40.433028,-3.703336,16,94.5
...,...,...,...,...,...,...,...,...,...
1413,O mamma mia mendez Alvaro,$$ - $$$,3.0,27,28045.0,40.395066,-3.675628,9,81.0
1414,Tsunami assai,$$ - $$$,3.0,20,28003.0,40.439171,-3.700165,6,60.0
1415,La Pasion,$$ - $$$,3.0,31,NaN,40.422826,-3.710588,10,93.0
1416,Jaleo,$$ - $$$,3.0,93,28013.0,40.416717,-3.705068,15,279.0
1417,Riazor,$$ - $$$,3.0,198,28005.0,40.414199,-3.707350,292,594.0

In [20]:
train.isnull().sum()

name               0
priceRange       237
rating             0
reviewCount        0
postCode          38
Latitude           0
Longitude_x        0
Weekly orders      0
value              0
dtype: int64

## GEOCODE

In [ ]:
from geopy.extra.rate_limiter import RateLimiter
from geopy.geocoders import Nominatim

In [ ]:
locator = Nominatim(user_agent="myGeocoder")

In [ ]:
# Conveneint create function to delay between geocoding calls
geocode = RateLimiter(locator.geocode)

In [ ]:
ta_data['location'] = ta_data['address'].apply(geocode)

In [ ]:
ta_data.info()

In [ ]:
ta_data['point'] = ta_data['location'].apply(lambda loc: tuple(loc.point) if loc else None)

In [ ]:
ta_data

In [ ]:
ta_data[['latitude', 'longitude', 'altitude']] = pd.DataFrame(ta_data['point'].tolist(), index=ta_data.index)

In [ ]:
ta_data

In [ ]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
from time import time, sleep
from random import randint
from IPython.core.display import clear_output


session = requests.session() 
session.headers.update ({'User-Agent': "Mozilla/5.0 (X11; Linux x86_64; rv:46.0) Gecko/20100101 Firefox/46.0",
                  'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
                  'Accept-Language': 'ru-RU,ru;q=0.8,en-US;q=0.5,en;q=0.3',
                  'Connection': 'keep-alive'})

names, ratings, costs, reviews, cuisines = [], [], [], [], [] 


start_time = time()
requests = 0

# Для каждой страницы в интервале
for offset in range (0, 290):

    # Создать GET запрос
    response = session.get('https://www.tripadvisor.es/Restaurants-g298484-oa{}-Madrid.html#EATERY_OVERVIEW_BOX'.format (offset))
    
    # Задать паузу
    sleep(randint(5, 8))
    
    requests += 1
    elapsed_time = time() - start_time
    print('Request:{}; Frequency: {} requests/s'.format(requests, requests/elapsed_time))
    clear_output (wait=True)
    
    if response.status_code != 200:
            warn('Request: {}; Status code: {}'.format(requests, response.status_code))
            
    soup = BeautifulSoup(response.content, 'html.parser')
    
    rests = soup.select('div .listing.rebrand')
    
    real_costs = {'$': 10, '$$ - $$$': 30,'$$$$': 50}

    for rest in rests:
    
        if rest.find('span', 'reviewCount') is not None and rest.find('span', 'item price') is not None:
        
            name = rest.find('div', 'title').a.text
            names.append(name)
        
            rating = rest.find('span', 'ui_bubble_rating')['alt']
            ratings.append(rating)
        
            cost = rest.find('span', 'item price').text
            costs.append(real_costs[cost])
        
            cuisine = ','.join(map(lambda x: x.text, rest.find_all(['span','a'], 'item cuisine')))
            cuisines.append(cuisine)
        
            review = rest.find('span', 'reviewCount').a.text
            reviews.append(re.sub('\s+', '', review))
            
rests_df = pd.DataFrame({'restaurant': names,
                    "user's rating": ratings,
                    'average check': costs,
                    'cuisines': cuisines,
                    'number of reviews': reviews})


rests_df = rests_df[['restaurant',  'cuisines', 'average check', 'number of reviews', "user's rating"]]
# Названия ресторанов. Удалим лишние пробелы
rests_df['restaurant'] = rests_df['restaurant'].str.strip()
# Отзывы. Извлекаем только цифры, переводим из str в int
rests_df['number of reviews'] = rests_df['number of reviews'].str.extract('(\d+)').astype(int)
# Рейтинг. Убираем лишнию строку, меняем знак и приводим к типу float
rests_df["user's rating"] = rests_df["user's rating"].str.replace(' из 5 кружков', '')
rests_df["user's rating"] = rests_df["user's rating"].str.replace(',', '.').astype(float)

# Сохраняем в формате csv
rests_df.to_csv('rests.csv')

In [ ]:
rests_df